@model ConfigurationModel

@{
    Layout = "_ConfigurePlugin";

    Html.AppendCssFileParts("~/lib/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.caret.min.js");
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="OpenPayConfiguration" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                @Html.Raw(T("Plugins.Payments.OpenPay.Instructions"))
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseSandbox_OverrideForStore" asp-input="UseSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ApiToken_OverrideForStore" asp-input="ApiToken" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ApiToken" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiToken" asp-required="true" />
                        <span asp-validation-for="ApiToken"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="RegionTwoLetterIsoCode_OverrideForStore" asp-input="RegionTwoLetterIsoCode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="RegionTwoLetterIsoCode" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="RegionTwoLetterIsoCode" asp-items="@Model.AvailableRegions" />
                        <span asp-validation-for="RegionTwoLetterIsoCode"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>
                @if (string.IsNullOrEmpty(Model.ApiToken))
                {
                    <input type="hidden" asp-for="DisplayProductPageWidget" />
                    <input type="hidden" asp-for="ProductPageWidgetLogo" />
                    <input type="hidden" asp-for="ProductPageWidgetLogoPosition" />
                    <input type="hidden" asp-for="DisplayProductListingWidget" />
                    <input type="hidden" asp-for="ProductListingWidgetLogo" />
                    <input type="hidden" asp-for="DisplayCartWidget" />
                    <input type="hidden" asp-for="CartWidgetLogo" />
                    <input type="hidden" asp-for="DisplayInfoBeltWidget" />
                    <input type="hidden" asp-for="InfoBeltWidgetColor" />
                    <input type="hidden" asp-for="DisplayLandingPageWidget" />
                    <input type="hidden" asp-for="PlanTiers" />
                }
                else
                {
                    <div class="cards-group">
                        <div class="card card-default">
                            <div class="card-header">
                                @T("Plugins.Payments.OpenPay.Widgets")
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="DisplayProductPageWidget_OverrideForStore" asp-input="DisplayProductPageWidget" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="DisplayProductPageWidget" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="DisplayProductPageWidget" />
                                        <span asp-validation-for="DisplayProductPageWidget"></span>
                                    </div>
                                </div>
                                <nop-nested-setting asp-for="DisplayProductPageWidget">
                                    <div id="pnlDisplayProductPageWidget">
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <nop-override-store-checkbox asp-for="ProductPageWidgetLogo_OverrideForStore" asp-input="ProductPageWidgetLogo" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                                <nop-label asp-for="ProductPageWidgetLogo" />
                                            </div>
                                            <div class="col-md-9">
                                                <nop-editor asp-for="ProductPageWidgetLogo" />
                                                <span asp-validation-for="ProductPageWidgetLogo"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <nop-override-store-checkbox asp-for="ProductPageWidgetLogoPosition_OverrideForStore" asp-input="ProductPageWidgetLogoPosition" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                                <nop-label asp-for="ProductPageWidgetLogoPosition" />
                                            </div>
                                            <div class="col-md-9">
                                                <nop-editor asp-for="ProductPageWidgetLogoPosition" />
                                                <span asp-validation-for="ProductPageWidgetLogoPosition"></span>
                                            </div>
                                        </div>
                                    </div>
                                </nop-nested-setting>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="DisplayProductListingWidget_OverrideForStore" asp-input="DisplayProductListingWidget" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="DisplayProductListingWidget" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="DisplayProductListingWidget" />
                                        <span asp-validation-for="DisplayProductListingWidget"></span>
                                    </div>
                                </div>
                                <nop-nested-setting asp-for="DisplayProductListingWidget">
                                    <div id="pnlDisplayProductListingWidget">
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <nop-override-store-checkbox asp-for="ProductListingWidgetLogo_OverrideForStore" asp-input="ProductListingWidgetLogo" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                                <nop-label asp-for="ProductListingWidgetLogo" />
                                            </div>
                                            <div class="col-md-9">
                                                <nop-editor asp-for="ProductListingWidgetLogo" />
                                                <span asp-validation-for="ProductListingWidgetLogo"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <nop-override-store-checkbox asp-for="ProductListingHideLogo_OverrideForStore" asp-input="ProductListingHideLogo" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                                <nop-label asp-for="ProductListingHideLogo" />
                                            </div>
                                            <div class="col-md-9">
                                                <nop-editor asp-for="ProductListingHideLogo" />
                                                <span asp-validation-for="ProductListingHideLogo"></span>
                                            </div>
                                        </div>
                                    </div>
                                </nop-nested-setting>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="DisplayCartWidget_OverrideForStore" asp-input="DisplayCartWidget" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="DisplayCartWidget" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="DisplayCartWidget" />
                                        <span asp-validation-for="DisplayCartWidget"></span>
                                    </div>
                                </div>
                                <nop-nested-setting asp-for="DisplayCartWidget">
                                    <div class="form-group row" id="pnlCartWidgetLogo">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="CartWidgetLogo_OverrideForStore" asp-input="CartWidgetLogo" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="CartWidgetLogo" />
                                        </div>
                                        <div class="col-md-9">
                                            <nop-editor asp-for="CartWidgetLogo" />
                                            <span asp-validation-for="CartWidgetLogo"></span>
                                        </div>
                                    </div>
                                </nop-nested-setting>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="DisplayInfoBeltWidget_OverrideForStore" asp-input="DisplayInfoBeltWidget" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="DisplayInfoBeltWidget" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="DisplayInfoBeltWidget" />
                                        <span asp-validation-for="DisplayInfoBeltWidget"></span>
                                    </div>
                                </div>
                                <nop-nested-setting asp-for="DisplayInfoBeltWidget">
                                    <div class="form-group row" id="pnlInfoBeltWidgetColor">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="InfoBeltWidgetColor_OverrideForStore" asp-input="InfoBeltWidgetColor" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="InfoBeltWidgetColor" />
                                        </div>
                                        <div class="col-md-9">
                                            <nop-editor asp-for="InfoBeltWidgetColor" />
                                            <span asp-validation-for="InfoBeltWidgetColor"></span>
                                        </div>
                                    </div>
                                </nop-nested-setting>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="DisplayLandingPageWidget_OverrideForStore" asp-input="DisplayLandingPageWidget" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="DisplayLandingPageWidget" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="DisplayLandingPageWidget" />
                                        <span asp-validation-for="DisplayLandingPageWidget"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="PlanTiers_OverrideForStore" asp-input="PlanTiers" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="PlanTiers" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="PlanTiers" />
                                        <script>
                                        $(document).ready(function () {
                                            var availableTags = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'];
                                            $("#@Html.IdFor(model => model.PlanTiers)").tagEditor({
                                                autocomplete: {
                                                    delay: 0,
                                                    position: { collision: 'flip' },
                                                },
                                                delimiter: ',',
                                                placeholder: 'e.g. 2,4...',
                                                sortable: true,
                                                beforeTagSave: function (field, editor, tags, tag, val) {
                                                    if (availableTags.indexOf(val) === -1) return false;
                                                }
                                            });
                                        });
                                        </script>
                                        <span asp-validation-for="PlanTiers"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards-group">
                        <div class="card card-default">
                            <div class="card-header">
                                @T("Plugins.Payments.OpenPay.OrderLimits")
                            </div>
                            <div class="card-body">
                                <p>
                                    @Html.Raw(string.Format(T("Plugins.Payments.OpenPay.OrderLimitsDescription").Text, Url.Action("Index", "ScheduleTask")))
                                    <br />
                                </p>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="MinOrderTotal_OverrideForStore" asp-input="MinOrderTotal" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="MinOrderTotal" />
                                    </div>
                                    <div class="col-md-9">
                                        <input asp-for="MinOrderTotal" asp-disabled="true" class="form-control" />
                                        <span asp-validation-for="MinOrderTotal"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="MaxOrderTotal_OverrideForStore" asp-input="MaxOrderTotal" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="MaxOrderTotal" />
                                    </div>
                                    <div class="col-md-9">
                                        <input asp-for="MaxOrderTotal" asp-disabled="true" class="form-control" />
                                        <span asp-validation-for="MaxOrderTotal"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-9 offset-md-3">
                                        <input type="submit" name="get-order-limits" class="btn bg-primary" value="@T("Plugins.Payments.OpenPay.DownloadOrderLimitsButton")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function() {
        $("#@Html.IdFor(model => model.DisplayCartWidget)").click(toggleCartWidget);
        toggleCartWidget();
        $("#@Html.IdFor(model => model.DisplayInfoBeltWidget)").click(toggleInfoBeltWidget);
        toggleInfoBeltWidget();
        $("#@Html.IdFor(model => model.DisplayProductListingWidget)").click(toggleProductListingWidget);
        toggleProductListingWidget();
        $("#@Html.IdFor(model => model.DisplayProductPageWidget)").click(toggleProductPageWidget);
        toggleProductPageWidget();
    });

    function toggleCartWidget() {
        if ($("#@Html.IdFor(model => model.DisplayCartWidget)").is(':checked')) {
            $('#pnlCartWidgetLogo').show();
        } else {
            $('#pnlCartWidgetLogo').hide();
        }
    }

    function toggleInfoBeltWidget() {
        if ($("#@Html.IdFor(model => model.DisplayInfoBeltWidget)").is(':checked')) {
            $('#pnlInfoBeltWidgetColor').show();
        } else {
            $('#pnlInfoBeltWidgetColor').hide();
        }
    }

    function toggleProductListingWidget() {
        if ($("#@Html.IdFor(model => model.DisplayProductListingWidget)").is(':checked')) {
            $('#pnlDisplayProductListingWidget').show();
        } else {
            $('#pnlDisplayProductListingWidget').hide();
        }
    }

    function toggleProductPageWidget() {
        if ($("#@Html.IdFor(model => model.DisplayProductPageWidget)").is(':checked')) {
            $('#pnlDisplayProductPageWidget').show();
        } else {
            $('#pnlDisplayProductPageWidget').hide();
        }
    }
</script>